<div class="container">
    <h2>Trips</h2>
    <table class="table table-striped table-hover trip-table" style="width:100%">
        <thead>
        <tr>
            <th style="width:20%" class="text-right">ID</th>
            <th style="width:40%">Name</th>
            <th style="width:40%">Created</th>
        </tr>
        </thead>
    </table>
</div>
<script src="{{ROOT_DIR}}/public/js/trip.js"></script>
